<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/node.css">
    <title>Static Node App</title>

    <!--Authors Xalli Bell and Emily Menken -->

</head>
<body>
    <h1>Xalli and Emily's Similarity Page!</h1>
    <li>
<ul>
We both like lizards!!
</ul>

<ul>
We both drive silver cars!
</ul>

<!--Harry potter picture-->
<ul>
We both have both Harry Potter!
</ul>
    </li>

</body>
</html>