<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/node.css">
    <link rel="stylesheet" href="/public/css/node.css">

    <title>Static Node App</title>

    <!--Authors Xalli Bell and Emily Menken -->

</head>
<body>
    <header>
        <h1>Xalli and Emily's</h1>
        <h2>Similarity Page!</h2>
    </header>

    <div class="boxes">
        <img src="/PairProgramming4/images/leopard-gecko.jpg" alt="Leopard Gecko">
        <p>We both like lizards!</p>
    </div>

    <div class="boxes">
        <img src="/PairProgramming4/images/silver-car2.jpg" alt="Cartoon Silver Car">
        <p>We both drive silver cars!</p>
    </div>

    <div class="boxes">
        <img src="/PairProgramming4/images/harry-potter.jpg" alt="Harry Potter book series">
        <p>We both read Harry Potter!</p>
    </div>
</body>
</html>