header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
}

body {
    background-color:purple;
    color:lightyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.boxes
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border-style: solid;
    border: 3px solid goldenrod;    
    border-radius: 4px;
    
}

img
{
    width: 200px;
    height: auto;
    border-radius: 3px;
}

p
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}